[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

.vs/
.vscode/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.DS_Store
Thumbs.db

*.apk
*.aab
*.unitypackage

UnityDeveloper_Test/Library/
UnityDeveloper_Test/Temp/
UnityDeveloper_Test/Obj/
UnityDeveloper_Test/Logs/
UnityDeveloper_Test/UserSettings/
UnityDeveloper_Test/GravityShift_WindowsBuild/
UnityDeveloper_Test/Build/
UnityDeveloper_Test/Builds/
UnityDeveloper_Test/.vs/
UnityDeveloper_Test/.vscode/
UnityDeveloper_Test/*.csproj
UnityDeveloper_Test/*.sln